form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1.2rem;
    color: #0078D7;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0078D7;
    font-size: 1rem;
    resize: none;
    margin-bottom: 10px;
  }
  .inputstyle{
    width: 180px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 10px; /* Espacio entre inputs */
  }
  .cantidades{
    display: flex;
    flex-direction: column; /* Para que los inputs se apilen verticalmente */
    align-items: flex-end; /* Alinea los items al final del contenedor (derecha) */
  }
  
  textarea::placeholder {
    color: #aaaaaa;
  }
  
  .TodoForm-buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .TodoForm-button--cancel,
  .TodoForm-button--add {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 48%;
  }
  
  .TodoForm-button--cancel {
    background-color: #ff4d4d;
    color: white;
  }
  
  .TodoForm-button--cancel:hover {
    background-color: #ff0000;
    transform: scale(1.05);
  }
  
  .TodoForm-button--add {
    background-color: #0078D7;
    color: white;
  }
  
  .TodoForm-button--add:hover {
    background-color: #005bb5;
    transform: scale(1.05);
  }
  select {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  select:focus {
    border-color: #0078d7;
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
  }
  .selectores {
    display: flexbox; /* Usa flexbox para alinear los selects en una fila */
    gap: 5px; /* Espacio entre los selects */
    margin-bottom: 5px; /* Espacio debajo del contenedor */
  }