body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, rgb(5, 117, 230), rgb(29, 112, 183));
  margin: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-modal-open {
  overflow: hidden;
}

code {
  font-family: Quicksand
}
.container {
  width:80%; /* Anchura del 90% del viewport */
  
  margin: 40px auto 0 auto; /* Centrará el contenedor horizontalmente */
  padding: 20px; /* Espaciado interno */
  background-color: white; /* Color de fondo claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border-radius: 30px; /* Bordes redondeados */
  
}

.logo {
  display: block; /* Asegura que el logo se trate como un elemento de bloque */
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  z-index: 9999; /* Asegura que esté siempre visible sobre otros elementos */
  pointer-events: none; /* Evita que la imagen interfiera con la interacción de otros elementos */
  margin: 0 auto; /* Centra el logo horizontalmente */
}
.titulo{
  font-size: 3rem;
  color: #0078D7;
  text-align: center; /* Centra el texto horizontalmente */
  display: flex;
  justify-content: center; /* Centra el texto en su contenedor */
  align-items: center; /* Alinea el texto verticalmente */
}

@media (min-width: 1024px) {
  .container {
    width: 40%; /* El contenedor ocupará el 40% del ancho en pantallas grandes */
  }
}
@media (min-width: 1524px) {
  .container {
    width: 20%; /* El contenedor ocupará el 40% del ancho en pantallas grandes */
  }
}