.Icon-container {
  }
  .Icon-container-delete {
    cursor: pointer;
    position: absolute; /* Posiciona el ícono de borrar en una ubicación específica */
    top: 3px; /* Ajusta el espacio desde la parte superior */
    right: 10px; /* Ajusta el espacio desde el borde derecho */

  }
  .Icon-container-check {
    cursor : pointer;
     color: #0078D7;
     

  }
  
  
  
  
  .Icon-svg{
    font-size: 3.0rem;
    
  }
  
  .Icon-container-delete:hover .Icon-svg{
    fill: #BD1622;
  }
  .Icon-container-check:hover .Icon-svg{
    fill: 0078D7;
  }

  .Icon-container-check.incomplete {
    color: red;
  }
  .Icon-container-check.inProgress {
    color: orange;
  }
  .Icon-container-check.completed {
    color: #0078D7;
  }
  